/* Formatting template for all pages */

/* Template */
.container {
  display: grid;
  grid-template-areas: 
    "header header"
    "nav body"
    "footer footer";
  grid-template-columns: 15% 90%;
  background-color: #fff;
  padding: 10px;
}

/*  */
.container > div {
  padding: 10px;
}

/* Template for header on all pages */
.container > div.header {
  grid-area: header;
  text-align: center;
  font-family:'Inter', sans-serif;
  background-color:darkblue;
  width: 100%;   
  height: 12vh;
  text-shadow: -2px 7px 5px rgba(164,145,80,0.69);
}

/* Template for Navigation bar */
.container > div.nav {
  grid-area: nav;
  background-color: black;
}

/* Template for body section */
.container > div.body {
  grid-area: body;
  grid-template-areas: 
  "c1r1 c2r1"
  "c1r2 c2r2";
  grid-template-columns: 100% 100%;
}

/* Template for footer section */
.container > div.footer {
  grid-area: footer;

}

/* Header Title of each page */
header .header_title {
    padding-top: 50px;
    font-size: 50px;
  }

/* Navigation bar setup */
  .nav {
    max-width: fit-content;
    min-height: 100vh;
    background-color: black;
    padding-left: 10px;
    font-size: large;
  }

/* Navigation bar text setup */
  .nav a {
    display: inline-flex;
    padding: 0.5rem 0;
    text-align: left;
  }
  
/* Body text setup */
  body {
    font-family: Roboto, sans-serif;
    color:lightgoldenrodyellow;
    background-size: cover;
    background-image: url('space-background.jpg');
    line-height: 1.25;
  }

  .col {
    width: 300px;
  }

  .headshot {
    height: 100%;
    width: 100%;
  }

 div.body.c1r1 {
    padding: 10px;
    background-color: #fff;
    grid-area: c1r1;
  }

  div.body.c1r2 {
    padding-left: 50%;
    background-color: aqua;
    grid-area: c2r1;
  }



  

